.HeaderSpot {
  margin: 50px;
  padding: 25px;
  border-color: black;
  border: solid;
}

.button {
  border-color: green;
  border: solid;
  border-width: 25px;
  font-size: 20px;
  border: 4px solid #008cba;
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
}

#square {
  background-color: white;
  color: black;
  background: white;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
